.app {
  text-align: center;
  font-family: Arial, sans-serif;
  /* margin-top: 50px; */
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 200px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #0078d7;
  color: white;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #005fa3;
}

.weather-card {
  margin-top: 20px;
  padding: 20px;
  display: inline-block;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
  /* box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2); */
  color: white;
}

.weather-card img {
  width: 64px;
  height: 64px;
}

.error {
  color: red;
  font-weight: bold;
}

@media (max-width: 480px) {
  .app {
    padding: 10px;
  }

  .search {
    flex-direction: column;
    align-items: center;
  }

  input {
    width: 90%;
    max-width: 300px;
    margin: 5px 0;
  }
  button {
    width: 90%;
    max-width: 300px;
    margin: 5px 0;
  }

  .weather-card {
    width: 100%;
    font-size: 14px;
    padding: 15px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .app {
    padding: 20px;
  }

  .search {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  input {
    width: 220px;
  }

  button {
    width: 120px;
  }

  .weather-card {
    max-width: 500px;
    font-size: 16px;
    padding: 20px;
  }
}
